
.git
.gitignore


node_modules
npm-debug.log

vendor


storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views


.idea
.vscode


.DS_Store
Thumbs.db


docker-compose.yml
docker-compose.override.yml
